<!DOCTYPE html>
<!-- This is the website home page. -->
<html>
<head>
<title> Home Page </title>

<style>
/* CSS Styling for home page */
body{
 background-color: rgb(224, 247, 224)
}
div{
    text-align:center
}
h1{
    color: rgb(98, 201, 98)
}
h2{
    color: rgb(177, 241, 177)
}
a{
    color: grey
}
 </style>
</head> 

<body>
<div>
    <div style="background-color:grey">
        <h1> Senior Capstone: Creating an XSS Filter </h1>
        <h2> Gabriel Stoeckig </h2>
    </div>
    <!-- Links to all of the pages of the web application -->
    <div style="width: 20%; outline: 2px solid grey; text-align: center; margin: 0 auto">
        <a href= "VReflected.html">  Vulnerable to Reflected XSS </a>
        <br>
        <br>
        <a href=SReflected.html>  Secure from Reflected XSS </a>
        <br>
        <br>
        <a href=commentSubmit.html> Enter an Insecure Comment </a>
        <br>
        <br>
        <a href=VStored.html>  View Insecure Comments List </a>
        <br>
        <br>
        <a href=secureCommentSubmit.html>  Enter a Secure Comment </a>
        <br>
        <br>
        <a href=SStored.html>  View Secure Comments List </a>
    </div>
</div>
</body>
</html>