<!DOCTYPE html>
<!-- This is the webpage containing a search bar that is vulnerable to reflected XSS attacks. It has client-side protections but is not connected to the server-side filter. -->
<html>
<head>
<title> Reflected XSS </title>
<link rel="stylesheet" href="mystyles.css">

<script>
  //Basic client-side validation. The code checks user input for blank parameters and common JavaScript character before sending HTTP packet to server.
  function validateForm(){
    var x = document.forms["myForm"]["animalSearched"].value;
    if (x ==""){
      alert("Please enter a search term")
      return false;
    }
    else if(x.includes('<')){
      alert("Only enter alphanumeric characters")
      return false;
    }
    else if(x.includes('>')){
      alert("Only enter alphanumeric characters")
      return false;
    }
    else if(x.includes('(')){
      alert("Only enter alphanumeric characters")
      return false;
    }
    else if(x.includes(')')){
      alert("Only enter alphanumeric characters")
      return false;
    }
    else if(x.includes(';')){
      alert("Only enter alphanumeric characters")
      return false;
    }
  }
</script>

</head>

<!-- Header -->
<body style = "background-color: rgb(224, 247, 224)">
  <div  style = "text-align:center">
<h1> Vulnerable to XSS attacks</h1>
<p>Search for your favorite animal!</p>

<div class="search">
    <div class="search-container">
      <!--HTTP form for containing search bar for entering searches, runs client-side validation before sending packet to server-->
     <form name="myForm" action="/reflectedvuln" onsubmit="return validateForm()" method="GET">
            <input type="text" placeholder="Search..." name="animalSearched">
            <input type="submit" value="Submit"> 
        </form>
    </div>
  </div>
  </div>
</body>
</html>